* {
    font-family: 'Courier New', Courier, monospace;
}

.header{
    background-color: beige;
    font-size: 42   px;
    font-weight: bold;
    text-align: center;
}

.subtitle {
    font-size: 32px;
}

h2 {
    font: 22px;
}

ul,
ol {
    font-size: 18px;
    color: orange;
}

img {
    margin: auto;
    display: block;
}

.links-list {
    display: flex;
    list-style: none;
    border: 1px solid orange;  
    padding-left: 350px; 
}

.recipe {
    padding: 1em 2em;
    text-decoration: none;
    background-color: lightcoral;
    margin: 5px;
}

